<?xml version="1.0"?>

<launch>

  <arg name="model" default="$(find rx1_description)/urdf/rx1.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find rx1_description)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="rx1_ik" pkg="rx1_ik" type="rx1_ik_node" output="screen">
      <rosparam file="$(find rx1_ik)/config/ik_marker.yaml" command="load"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>

